{% if request.isBare %}
  {{content}}
{% else %}
  {% macro selectedPath(path: string, isIndex = false): string = %}
    {% if path in request.path or (isIndex and request.path == "/")%}
      primary elevate
    {% else %}
      transparent
    {% endif %}
  {% endmacro %}
  <nav class="padding elevate row scroll" hx-boost="true">
    <div class="space m l"></div>
    {# <img src="logo.png" height="24"> #}
    <a href="/" class='button {{selectedPath("index page", isIndex=true)}}'>
      Home
    </a>
    <a href="/manga" class='button {{selectedPath("manga")}}'>
      Manga
    </a>
    <a href="/post" class='button {{selectedPath("post")}}'>
      News
    </a>
    <div class="max m l"></div>
    <a href="/manga" class='button {{selectedPath("donate")}}'>
      Donate
    </a>
    <div class="space m l"></div>
  </nav>
  <main class="responsive active bottom page">
    {{content}}
  </main>
{% endif %}
