{% for post in posts %}
	<article>
		<details>
			<summary class="none">
				<div class="row">
					<div class="max">
						<h5>{{post.title}}</h5>
						<p>{{post.author}}</p>
					</div>
					<div>{{post.date}}</div>
					<i>arrow_drop_down</i>
				</div>
			</summary>
			{{post.content}}
		</details>
	</article>
{% endfor %}

{% if posts.len != 0 %}
	<div class="padding" hx-get="/post?after={{posts[^1].id}}" hx-trigger="revealed" hx-swap="outerHTML">
		<div class="large center loader"></div>
	</div>
{% endif %}
